.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 420px;
  padding: 10px;
}

.product-card {
  width: 200px;
}

.product-image {
  height: auto;
  max-height: auto;
  width: 100%;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-name {
  height: 20px;
  background-color: #f3f3f3;
  margin: 5px 0;
  color: #000;
}

.product-price {
  color: #000;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 420px;
  }

  .product-card {
    width: 200px;
  }
}
