.title {
  margin-bottom: -22px;
  font-size: 33px;
  margin-top: 47px;
  text-align: center;
  color: #333;
}
.grid {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(4, 282px);
  grid-auto-rows: 420px; 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: 420px; 
    padding: 10px;
  }
  .title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
}

.slick-slide {
  padding-left: 10px;
  padding-right: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}
